  <div class="panel panel-default">
    <div class="panel-heading">
      <span><b>Hablo con:</b> {{ contact.name }} {{ contact.lastname }}</span>
      <span class="pull-right">{{ register_date }} {{ register_time }}</span>
    </div>
    <div class="panel-body">
      <p> {{ report }} </p>
      <span><b>Por:</b> {{ user.name }} {{ user.lastname }}</span>
      <a href="#" class="pull-right btn btn-primary btn-xs todo-open-create">Agregar Tarea</a>
      <hr>
      <table class="table table-condensed todos">
        <thead>
          <tr>
            <th>Tarea</th>
            <th>Creada</th>
            <th>Vencimiento</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

  </div>
