  <td> {{ name }} </td>
  <td><a href="#" class="company-open-edit btn btn-default btn-xs">Editar</a></td>
  <td>{{ nit }}</td>
  <td>{{ address }}</td>
  <td>{{ phone }}</td>
  <td>{{ sector }}</td>
  <td>
    <a href="#" class="btn btn-primary btn-xs company-open-create-contact">Agregar contacto</a>
    <a href="#" class="btn btn-default btn-xs company-open-contacts">Contactos</a>
  </td>