<div class="quotation-options">
<div class="row btn-hidden">

<div class="col-lg-2">
  <select class="select-type form-control select-xs">
    {{#if type}}
      <option value="{{ type }}">{{ type }}</option>
    {{else}}
     <option value="">Tipo</option>
    {{/if}}
    <option value="Alquiler">Alquiler</option>
    <option value="Servicio">Servicio</option>
  </select>
</div>

<div class="col-lg-2">
  <select class="select-type-category form-control select-xs">
    {{#if type_category}}
      <option value="{{ type_category }}">{{ type_category }}</option>
    {{else}}
     <option value="">Categoría de tipo</option>
    {{/if}}
    <option value="Inventario">Inventario</option>
    <option value="Pedido">Pedido</option>
  </select>
</div>

<div class="col-lg-2">
  <select  class="select-client-type form-control  select-xs">
    {{#if client_type }}
      <option value="{{ client_type }}">{{ client_type }}</option>
    {{else}}
      <option value="">Tipo de cliente</option>
    {{/if }}
     <option value="Activo">Activo</option>
     <option value="Inactivo">Inactivo</option>
     <option value="Nuevo">Nuevo</option>
  </select>
</div>

<div class="col-lg-2">
  <select  class="select-found-us form-control  select-xs">
      {{#if found_us }}
        <option value="{{ found_us }}">{{ found_us }}</option>
      {{else }}
        <option value="">¿Como llegó?</option>
      {{/if }}
      {{> found_us_options}}
  </select>
</div>

<div class="col-lg-2">
    <select class="select-offer form-control  select-xs">
    {{#if offer }}
      <option value="{{  offer }}">{{ offer }}</option>
    {{else }}
      <option value="">Ofrecer</option>
    {{/if }}
      <option value="Desktops">Desktops</option>
      <option value="Laptops">Laptops</option>
      <option value="Apple">Apple</option>
      <option value="Servers">Servers</option>
      <option value="IT Service">IT Service</option>
      <option value="IT Service 24/7">IT  Service 24/7</option>
      <option value="Rescate Online">Rescate Online</option>
      <option value="Discos Duros Seguros">Discos Duros Seguros</option>
      <option value="Networks">Networks</option>
      <option value="Complements">Complements</option>
      <option value="Printers">Printers</option>
    </select>
</div>
<div class="col-lg-2">
    <select class="select-advisor form-control  select-xs">
     {{#if advisor }}
        <option value="{{ advisor }}">{{ advisor }}</option>
      {{else }}
        <option value="">Asesor</option>
      {{/if}}
      <option value="Andrés Rojas">Andrés Rojas</option>
      <option value="Diego Peña">Diego Peña</option>
      <option value="No aplica">No aplica</option>
      <option value="Otros">Otros</option>
    </select>
</div>

</div>
<hr class="btn-hidden">
  <div class="btn-group btn-md">
    <button class="btn btn-default btn-xs  dropdown-toggle" type="button" data-toggle="dropdown">
      PDF <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li> <a href="/quotations/{{ id }}/pdf/{{ id }}" target="_blank">Color </a> </li>
      <li> <a href="/quotations/{{ id }}/pdflogos" target="_blank">Con logos </a> </li>
      <li> <a href="/quotations/{{ id }}/pdfbn" target="_blank">Blanco y negro </a> </li>
    </ul>
  </div>
  
  <a href="#" class="open-comment btn btn-default btn-xs">Agregar Comentario</a>
  <a href="#" class="btn btn-default btn-xs open-mail">Agregar email</a>

  {{#if service_approval}}
    <a href="#" class="btn btn-default btn-xs service-approval-add">Agregar aprobación de servicio</a>
  {{else}}
    <a href="#" class="btn btn-danger btn-xs service-approval-remove">Quitar aprobación de servicio</a>
  {{/if}}

  <hr class="visible-xs">

  {{#isEffective status}}

  {{else}}
  <div class="labels pull-right">
    <a href="#" class="btn btn-warning btn-xs send">Enviar</a>
    <a href="#" class="btn btn-warning btn-xs change-delivered btn-hidden">Entregada</a>
    <a href="#" class="btn btn-danger btn-xs open-no-send btn-hidden">No enviada</a>
    
    <a href="/quotations/{{ id }}/rethink" class="btn btn-default btn-xs btn-hidden">Replantear</a>
    </div>
  {{/isEffective}}
</div>